---
interface Props {
  links: link[];
}

interface link {
  text: string;
  href: string;
}

const { links } = Astro.props;
---

<header
  class="flex justify-between bg-slate-400 dark:bg-slate-700 p-2 px-6 mb-6 mt-0 sticky top-0 max-h-60 overflow-hidden"
>
  <nav class="flex gap-4 mt-0 mb-auto">
    <a href="https://powerd6.org" class="aspect-square w-12 h-12">
      <img src="/favicon.svg" alt="powerd6 logo" />
    </a>
  </nav>
  <nav class="hidden lg:flex gap-8 justify-between items-center">
    {
      links.map((link: link) => (
        <a
          href={link.href}
          class="hover:text-emerald-300 dark:hover:text-emerald-500 transition-all duration-300"
        >
          {link.text}
        </a>
      ))
    }
  </nav>
  <div
    class="flex flex-col lg:hidden justify-between items-end"
    x-data="{ open: false }"
  >
    <button
      class="px-3 py-2 rounded bg-emerald-300 hover:bg-emerald-500 text-slate-400 dark:text-slate-700"
      @click="open = ! open"
    >
      Menu
    </button>
    <nav
      class="flex flex-col gap-2 justify-between items-end"
      x-show="open"
      @click.outside="open = false"
    >
      {
        links.map((link: link) => (
          <a
            href={link.href}
            class="hover:text-emerald-300 dark:hover:text-emerald-500 transition-all duration-300"
          >
            {link.text}
          </a>
        ))
      }
    </nav>
  </div>
</header>
