---
import Header from "../components/Header.astro";
import PageTitle from "../components/PageTitle.astro";

interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <PageTitle title={title} subtitle={subtitle} />
  </head>
  <body
    class="bg-slate-50 dark:bg-zinc-800 text-stone-900 dark:text-white min-h-screen w-screen"
  >
    <Header
      links={[
        { href: "https://specification.powerd6.org", text: "Specification" },
        {
          href: "https://github.com/powerd6/.github/blob/main/CODE_OF_CONDUCT.md",
          text: "Code of conduct",
        },
        {
          href: "https://github.com/powerd6/.github/blob/main/CONTRIBUTING.md",
          text: "Contributing",
        },
      ]}
    />
    <slot />
  </body>
</html>
