name: Deploy to pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.3.0
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: "npm"
      - run: npm ci
      - run: npm test
      - name: Build website
        run: |-
          npm build
      - name: Upload website
        uses: actions/upload-artifact@v3
        with:
          name: website
          path: dist/
          if-no-files-found: error
  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Download build
        id: download
        uses: actions/download-artifact@v3
        with:
          name: website
      - name: Setup Pages
        uses: actions/configure-pages@v2
      - name: Upload to pages
        uses: actions/upload-pages-artifact@v1
        with:
          path: ${{steps.download.outputs.download-path}}/
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
